<!DOCTYPE html>
<html>
<head>
  <title>Agkika</title>
  <%= stylesheet_link_tag    "agkika/application", media: "all" %>
  <%= javascript_include_tag "agkika/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
